.header {
    padding: 2rem;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
}

.header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.header h2 {
  font-size: 1.2rem;
  color: #555;
}

.header p {
  margin-top: 0.5rem;
  color: #777;
}