.cv-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.5rem 2rem;

  display: flex;
  justify-content: center; /* 📱 default: centrado */
}

.cv-button {
  display: inline-block;
  padding: 0.75rem 1.6rem;

  background-color: #d2c6f0;
  color: var(--color-dark);

  border: 1.5px solid var(--color-primary);
  border-radius: 8px;

  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;

  transition:
    background-color 0.25s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease,
    color 0.2s ease;
}

.cv-button:hover {
  background-color: #7725ebd1;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(119, 37, 235, 0.15);
}

@media (min-width: 768px) {
  .cv-container {
    justify-content: flex-start; /* 💻 izquierda */
    margin-top: -2.5rem;/* 👈 lo acerca al header */
  }
}


